* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
}

.clearfix {
    clear: both;
}

.container {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
    justify-content: center;
}

#nav {
    background-color: rgb(255, 255, 255);
    height: 54px;
    width: 100%;
    max-width: calc(10% + 1600px);
    margin: auto;
    margin-bottom: 2px;
    padding: 0 5%;
}

#nav .container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.nav-logo {
    height: 54px;
    width: 137px;
    background-color: transparent;
    float: left;
    background-image: url(../img/microsoft.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#nav-center {
    height: 100%;
    width: calc(100% - 539px);
    padding: 0 1px 0 2px;
    float: left;
}

#nav-center .nav-list li {
    float: left;
    margin: 1px 4px 0 4px;
    padding: 16px 8px 10px;
    border: 1px white solid;
}

#nav-center .nav-list .more {
    display: none;
}

.nav-list li:hover {
    text-decoration: black 2px underline;
}

#nav-right {
    height: 100%;
    width: 397px;
    float: right;
}

#nav-right ul {
    float: right;
}

.nav-right-logo {
    width: 32px;
    height: 32px;
    margin: 8px;
    float: left;
    background-image: url(../img/logo.jpg);
    background-position: center;
}

#nav-right .nav-list li {
    float: left;
    padding: 16px 0px 10px;
}

#nav li img {
    height: 15px;
}

#nav-right ul .all {
    margin-right: 30px;
}

#nav-right ul .search {
    margin-right: 35px;
}

#nav-right ul .cart {
    margin-right: 13px;
}

#nav-right ul .login:hover {
    text-decoration: none;
}

#nav2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 54px;
    width: 100%;
    padding: 2px 0;
    display: none;
}

#nav2-menu {
    position: absolute;
    top: 51px;
    width: 100%;
    z-index: 55;
    background-color: rgb(242, 242, 242);
    display: none;
}

#nav2-menu li {
    padding: 14px 24px 15px 15px;
    margin: 1px;
    border-bottom: 1px rgba(119, 119, 119, 0.164) solid;
    font-size: 15px;
    height: 51px;
}

#nav2-menu li:last-child {
    border-bottom: 1.5px rgb(0, 0, 0) solid;
}

.left-bottom {
    width: 48px;
    height: 48px;
    float: left;
    padding: 6px 0 8px;
    margin: 1px 2px;
    background-image: url(../img/line.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#moblie-menu:checked~#nav2-menu{
    display: block;

}

.nav2-right {
    position: relative;
    float: left;
    height: 49px;
    width: calc(100% - 52px);
}

#nav2 .nav-logo {
    width: 116px;
    height: 44px;
    z-index: 5;
    position: absolute;
    left: calc(50% - 58px);
    top: 0%
}

#nav2 .search {
    position: absolute;
    top: calc(50% - 16px);
    left: 1px;
    width: 34px;
    height: 32px;
    margin: 2px 6px 1px 2px;
    padding: 8px 8px 8px 0;
    background-image: url(../img/search.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

#nav2 .cart {
    position: absolute;
    right: 60px;
    width: 48px;
    height: 48px;
    padding: 15px 10px;
    margin: 0 1px;
    background-image: url(../img/cart.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#nav2 .login {
    width: 32px;
    height: 32px;
    padding: 15px 10px;
    background-image: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin: 8px 15px 8px 8px;
}

.hide-menu {
    background-color: rgb(242, 242, 242);
    width: 1230px;
    z-index: 100;
    position: absolute;
    margin-left: -955px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
    display: none;
}

.see-map {
    width: 100%;
    padding: 1px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-content: center;
    height: 38px;
    border-bottom: 2px black solid;
}

.map {
    margin: auto;
}

.map:hover {
    text-decoration: 1px black underline;
}

input[type="checkbox"] {
    display: none;
}

#nav-right .nav-list #all-menu {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#all-btn:checked~.hide-menu {
    display: flex;
}

#nav-right .hide-menu1 {
    float: left;
    padding: 0%;
}

#nav-right .hide-menu1 li {
    float: none;
    padding: 12px 0 12px 24px;
    width: 195px;
}

#nav-right .hide-menu1 li:nth-child(1) {
    float: none;
    padding: 18px 0 18px 24px;
    font-weight: 600;
}

#nav-right .hide-menu1 li:nth-child(1):hover {
    text-decoration: none;
}

main {
    width: 100%;
    margin: auto;
    max-width: 1789.5px;
}

#main-part1 {
    max-width: 2048px;
    padding: 0 5%;
    width: 100%;
}

#main-part1 .advertise {
    width: 100%;
    position: relative;
}

#main-part1 .advertise .ad-pic-word {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0, -50%);
}

#main-part1 .advertise .ad-pic-word .title {
    margin: -3px 0 0 0;
    padding: 0 0 3px 0;
    font-size: 34px;
    font-weight: 600;
}

#main-part1 .advertise .ad-pic-word .text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
}

#main-part1 .advertise .ad-pic-word .buynow {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 2px 0 0;
    height: 55px;
    color: white;
    display: flex;
}

#main-part1 .advertise .ad-pic-word .buynow>div {
    line-height: 43px;
    padding: 8px 20px;
    background-color: black;
    border: 2px black solid;
    display: block;
    width: 120px;
}

#main-part1 .advertise .ad-pic-word .buynow>div>div {
    line-height: normal;
}

#main-part1 .advertise .ad-pic-word .buynow>div>div:nth-child(1) {
    float: left;
}

#main-part1 .advertise .ad-pic-word .buynow>div>div:nth-child(2) {
    float: right;
}

#main-part1 .advertise .ad-pic-word .buynow:hover>div>div:nth-child(1) {
    margin-left: -5px;
    text-decoration: white 2px underline;
    transition: 0.5s;
}

#main-part1 .advertise .ad-pic-word .buynow:hover>div>div:nth-child(2) {
    margin-right: -5px;
    transition: 0.5s;
}

#main-part1 .advertisepic {
    display: block;
    width: 100%;
    max-width: 2048px;
    margin: auto;
}

#main-part1 .advertisepic2 {
    display: none;
    width: 100%;
    margin: auto;
}

#main-part1 .advertisepic3 {
    display: none;
    width: 100%;
    margin: auto;
}

#main-part1 .advertise:hover .ad-btn {
    display: block;
    line-height: 42px;
    text-align: center;
    font-size: 15px;
    -webkit-box-shadow: 6px 4px 16px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 6px 4px 16px 0px rgba(0, 0, 0, 0.14);
    background: #F7F7F7;
}

.ad-btn {
    width: 42px;
    height: 42px;
    background-color: rgb(247, 247, 247);
    border-radius: 50%;
    position: absolute;
    border: 1px solid transparent;
    display: none;
}

.change-page-1 {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.change-page-2 {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

#main-part1 .advertisebar {
    width: 100%;
    height: 177px;
    padding-top: 48px;
}

#main-part1 .advertisebar ul {
    width: fit-content;
    margin: auto;
}

#main-part1 .advertisebar .ad-bar1 li {
    float: left;
    padding: 12px 6px;
    text-align: center;
    border: 2px white solid;
}

#main-part1 .advertisebar .ad-bar2 li {
    padding: 12px 6px;
    border: 2px white solid;
}

#main-part1 .advertisebar .ad-bar1 img {
    height: 40px;
    margin-bottom: 6px;
}

#main-part1 .advertisebar .ad-bar2 img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: block;
    float: left;
}

#main-part1 .advertisebar ul .word {
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    margin: -4px 21px 0 22px;
    max-width: 125px;
}

#main-part1 .advertisebar ul .word2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

#main-part1 .advertisebar li:hover {
    text-decoration: black 2px underline;
}

body #main-part1 .advertisebar .ad-bar2 {
    display: none;
}

#main-part2 {
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 0 5%;
}

.article-area1 {
    margin: 0 -12px 0;
    justify-content: center;
}

#main-part2 ul {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

#main-part2 ul li {
    margin: 48px 0 0 0;
    width: 25%;
    float: left;
    padding: 0 12px;
}

#main-part2 ul li img {
    width: 100%;
}

#main-part2 ul li .title {
    font-size: 20px;
    font-weight: 600;
    margin: 37px 0 0 0;
    padding: 1px 12px 2px 0;
}

#main-part2 ul li .text {
    font-size: 15px;
}

#main-part2 ul li .buynow {
    font-size: 15px;
    border: 2px white solid;
    padding: 10px 3px 7px 0;
    color: rgb(0, 103, 184);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-part2 ul li .buynow:hover div:nth-child(1) {
    padding-bottom: 1px;
    border-bottom: rgb(0, 103, 184) 2px solid;
}

#main-part2 ul li .buynow:hover div:nth-child(2) {
    margin-left: 10px;
    transition: 1s;
}

#main-part2 .tag6-1 {
    display: flex;
    flex-wrap: wrap;
}

#main-part2 .tag6-1 .buynow {
    padding: 10px 16px 7px 0;
}

#main-part3 {
    max-width: 2048px;
    padding: 0 5%;
    width: 100%;
}

#main-part3 .advertise {
    height: 100%;
    width: 100%;
    position: relative;
}

#main-part3 .advertisepic {
    height: 100%;
    width: 100%;
    max-width: 2048px;
    margin: auto;
    padding-top: 48px;
    display: block;
}

#main-part3 .advertisepic2 {
    display: none;
}

#main-part3 .advertisepic3 {
    display: none;
}

#main-part3 .advertise .ad-pic-word {
    width: 88%;
    position: absolute;
    top: calc(50% - 68.5px);
    left: 6%;
    transform: translate(-50% -50%);
}

#main-part3 .advertise .ad-pic-word .title {
    margin: -3px 0 0 0;
    padding: 0 0 3px 0;
    font-size: 34px;
    font-weight: 600;
}

#main-part3 .advertise .ad-pic-word .text {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 400;
}

#main-part3 .advertise .ad-pic-word .buynow {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 2px 0 0;
    height: 55px;
    color: white;
    display: flex;
}

#main-part3 .advertise .ad-pic-word .buynow>div {
    line-height: 43px;
    padding: 8px 20px;
    background-color: black;
    border: 2px black solid;
    display: block;
    width: 120px;
}

#main-part3 .advertise .ad-pic-word .buynow>div>div {
    line-height: normal;
}

#main-part3 .advertise .ad-pic-word .buynow>div>div:nth-child(1) {
    float: left;
}

#main-part3 .advertise .ad-pic-word .buynow>div>div:nth-child(2) {
    float: right;
}

#main-part3 .advertise .ad-pic-word .buynow:hover>div>div:nth-child(1) {
    margin-left: -5px;
    text-decoration: white 2px underline;
    transition: 0.5s;
}

#main-part3 .advertise .ad-pic-word .buynow:hover>div>div:nth-child(2) {
    margin-right: -5px;
    transition: 0.5s;
}

#main-part4 {
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding: 0 5%;
}

#main-part4 .part4-header {
    padding-top: 48px;
    font-size: 24px;
    font-weight: 600;
}

.article-area2 {
    margin: -36px -12px 0;
    display: flex;
    display: inline-block;
    height: fit-content;
    justify-content: center;
}

#main-part4 ul li {
    margin: 48px 0 0 0;
    width: 25%;
    float: left;
    padding: 0 12px;
}

#main-part4 ul li img {
    width: 100%;
}

#main-part4 ul li .title {
    font-size: 20px;
    font-weight: 600;
    margin: 37px 0 0 0;
    padding: 1px 12px 2px 0;
}

#main-part4 ul li .text {
    font-size: 15px;
    line-height: 20px;
}

#main-part4 ul li .buynow {
    font-size: 15px;
    border: 2px white solid;
    padding: 10px 3px 7px 0;
    color: rgb(0, 103, 184);
    font-weight: 600;
    display: flex;
}

#main-part4 ul li .buynow:hover div:nth-child(1) {
    padding-bottom: 1px;
    border-bottom: rgb(0, 103, 184) 2px solid;
}

#main-part4 ul li .buynow:hover div:nth-child(2) {
    margin-left: 10px;
    transition: 1s;
}

#main-socialmedia {
    padding: 48px 5% 0 5%;
    display: flex;
}

#main-socialmedia .text {
    color: gray;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4px;
    padding: 0 12px 0 0;
    float: left;
}

#main-socialmedia .icon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    background-position: center;
    background-repeat: no-repeat;
}

#main-socialmedia #FB.icon {
    background-image: url(../img/FB.jpg);
}

#main-socialmedia #yt.icon {
    background-image: url(../img/YT.jpg);
}

#main-socialmedia #FB.icon:hover {
    background-image: url(../img/FB-hover.jpg);
}

#main-socialmedia #yt.icon:hover {
    background-image: url(../img/YT-hover.jpg);
}

footer {
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgb(242, 242, 242);
    margin: 50px auto 0 auto;
}

footer .container .footer-top {
    width: 100%;
    padding: 0% 5%;
    max-width: 1789.5px;
    margin: auto;
}

.footer-top .footer-top-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-top .footer-top-list li {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.footer-top .footer-top-list li:hover {
    text-decoration: black 1px underline;
}

.footer-top-list .bottom-list {
    float: left;
    width: 16.6%;
}

.footer-top-list .new,
.business {
    padding: 0 12px 0 0;
}

.footer-top-list .store,
.edu,
.developer,
.company {
    padding: 0 12px;
}

.footer-top-list .bottom-list ul li {
    font-size: 11px;
    line-height: 16px;
    padding: 8px 0;
}

.footer-top .footer-title {
    font-size: 15px;
    font-weight: 600;
    padding: 36px 0 4px 0;
}

.footer-bottom {
    padding: 30px 5% 16px;
    max-width: 1789.5px;
    margin: auto;
}

.taiwan {
    font-size: 11px;
    line-height: 16px;
    float: left;
}

.footer-bottom .contact {
    float: right;
}

.footer-bottom ul li {
    line-height: 16px;
    font-size: 11px;
    padding: 0 24px 4px 0;
    float: left;
}

.footer-bottom .language img {
    float: left;
    margin: 0 10px 0 0;
}

@media screen and (min-width: 1780px) {
    body #nav-right {
        width: 402px;
    }
}

@media screen and (max-width: 1400px) {
    body #nav {
        padding: 0 5%;
    }
    body #nav-right {
        width: 270px;
    }
    body #nav-right .nav-list li .nav-left-3 {
        display: none;
    }
    body #nav-right .nav-list li {
        margin: 0;
    }
    body #nav-right .nav-list li .nav-right-icon {
        width: 23px;
        height: 23px;
        margin-right: 13px;
    }
    body #nav-right .nav-list .all {
        margin-right: 34px;
    }
    body #nav-center .nav-list li {
        margin: 1px 0 0 0;
        border: transparent 1px solid;
    }
}

@media screen and (max-width: 1398px) {
    .hide-menu {
        margin-left: -725px;
        width: 1023px;
        display: flex;
        flex-wrap: wrap;
        display: none;
    }
    #main-part1 .advertise .ad-pic-word .title {
        font-size: 24px;
    }
    #main-part1 .advertise .ad-pic-word {
        width: 88%;
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(0, -50%);
    }
    #main-part3 .advertise .ad-pic-word .title {
        font-size: 24px;
    }
    #main-part3 .advertise .ad-pic-word {
        width: 88%;
        position: absolute;
        top: calc(50% - 63px);
        left: 6%;
        transform: translate(-50% -50%);
    }
}

@media screen and (max-width: 1080px) {
    body #nav {
        padding: 0 24px 2px 24px;
    }
    body #main-part1 {
        padding: 0;
    }
    #main-part1 .advertisepic {
        display: none;
    }
    #main-part1 .advertisepic2 {
        display: block;
        width: 100%;
        margin: auto;
    }
    body #main-part2 ul li {
        width: 50%;
    }
    #main-part3 {
        padding: 0px 0;
    }
    #main-part3 .advertisepic {
        display: none;
    }
    #main-part3 .advertisepic2 {
        display: block;
        width: 100%;
        margin: auto;
    }
    body #main-part4 ul li {
        width: 50%;
    }
    footer .footer-top {
        padding: 0 12px;
    }
    .footer-top-list .bottom-list {
        float: left;
        width: 33%;
        padding: 0 12px;
    }
}

@media screen and (max-width: 1021px) {
    .hide-menu {
        margin-left: -546px;
        width: 818px;
    }
}

@media screen and (max-width: 960px) {
    body #nav-center {
        width: calc(100% - 407px);
    }
}

@media screen and (max-width: 910px) {
    body #nav-center .nav-list .Xbox,
    .help {
        display: none;
    }
    body #nav-center .nav-list .more {
        display: block;
    }
}

@media screen and (max-width: 860px) {
    body #nav-center .nav-list .Surface {
        display: none;
    }
    #nav {
        display: none;
    }
    body #nav2 {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    body #main-part1 {
        padding: 0;
    }
    body #main-part1 .advertisebar .ad-bar1 {
        display: none;
    }
    body #main-part1 .advertisebar .ad-bar2 {
        display: block;
    }
    body #main-part1 .advertisebar {
        height: 194px;
        padding: 48px 5% 0 5%;
    }
    body #main-part1 .advertisebar ul {
        float: left;
    }
    #main-part1 .advertise .ad-pic-word .title {
        font-size: 20px;
    }
    #main-part1 .advertise .ad-pic-word {
        position: static;
        transform: none;
        height: 340px;
        padding-top: 102.5px;
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: rgb(230, 230, 230);
    }
    #main-part1 .advertise .ad-pic-word .text {
        margin-top: 0px;
        font-size: 15px;
        font-weight: 400;
    }
    #main-part1 .advertise .ad-pic-word .buynow {
        margin-top: 2px;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 2px 0 0;
        height: 55px;
        color: white;
        display: flex;
        justify-content: center;
    }
    #main-part1 .advertisepic2 {
        display: none;
    }
    #main-part1 .advertisepic3 {
        display: block;
        width: 100%;
        margin: auto;
    }
    #main-part3 .advertise .ad-pic-word .title {
        font-size: 20px;
    }
    #main-part3 .advertise .ad-pic-word {
        background-color: rgb(230, 230, 230);
        position: static;
        transform: none;
        height: 340px;
        padding-top: 102.5px;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #main-part3 .advertise .ad-pic-word .text {
        margin-top: 0px;
        font-size: 15px;
        font-weight: 400;
    }
    #main-part3 .advertise .ad-pic-word .buynow {
        margin-top: 2px;
        font-size: 15px;
        font-weight: 600;
        padding: 12px 2px 0 0;
        height: 55px;
        color: white;
        display: flex;
        justify-content: center;
    }
    #main-part3 .advertisepic2 {
        display: none;
    }
    #main-part3 .advertisepic3 {
        display: block;
        width: 100%;
        margin: auto;
    }
    .footer-bottom ul li {
        padding: 6px 4px 0 6px;
    }
    .footer-bottom .contact {
        float: none;
    }
}

@media screen and (max-width: 540px) {
    body #main-part2 ul li {
        width: 100%;
    }
    body #main-part4 ul li {
        width: 100%;
    }
    .footer-top-list .bottom-list {
        width: 100%;
        padding: 0 12px;
    }
    .footer-bottom .contact {
        float: left;
    }
}